<a href="https://colab.research.google.com/github/anciyajaison/ict_assignments/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
item1price = 45
item1quantity = 3
item2price = 30
item2quantity = 2
total = item1price * item1quantity + item2price * item2quantity
print('total bill :',total)

total bill : 195

In [17]:
entertempratureincelsius=30
c = 30
f = (c*9/5)+32
print('temprature in fahreneit :',f)

temprature in fahreneit : 86.0

In [33]:
enterbasicsalary = 20000
total = enterbasicsalary + enterbasicsalary *20/100 + enterbasicsalary *10/100
print('net salary :',total)

net salary : 26000.0

In [45]:
'''Principale : 10000
Rateofintrest :5
Time (in years) :2 '''
P = 10000
R = 5
T = 2
SI = ( P * R * T )/100
print('simple intrest :',SI)

simple intrest : 1000.0

In [97]:
'''enter total minutes : 130'''
total_minutes = 130
hours = total_minutes // 60
minutes = total_minutes % 60
print(hours,'hours and',minutes,'minutes')

2 hours and 10 minutes

In [62]:
# BMI =  weight(kg) / (height(m) *  height(m))
weight = 60
height = 1.65
BMI = weight / (height * height)
print('BMI :',BMI)

BMI : 22.03856749311295

In [63]:
# orginal price :1200
price = 1200
s=discount = price - price * 10/100
print('discount price:',discount)

discount price: 1080.0

In [72]:
'''s = (a+b+c)/2
area = âˆš(s(s-a)*(s-b)*(s-c))'''
a = 5
b = 6
c = 7
s= (a+b+c)/2
import math
area = math.sqrt (s*(s-a)*(s-b)*(s-c))
print('area of triangle :',area)

area of triangle : 14.696938456699069

In [89]:
''' wall length : 12
wall height : 8'''
area = (12 * 8) - (2* (1.5* 1.2))
cost = area * 25
print('Total area of painted:',area)
print('Total painting:',cost)

Total area of painted: 92.4
Total painting: 2310.0

In [90]:
''' enter number of unot consumed : 250 '''
units = 250
bill = (units *5.2) + 100
print('Electricity bill :',bill)

Electricity bill : 1400.0